@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,900;1,&display=swap');

/*  using node-style package resolution in a CSS file:  */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background: #ffffff;
  margin: auto;
}
